# Configurações do Banco de Dados
DB_PASSWORD=Gravity@2024!Seguro

# Configurações JWT
JWT_SECRET=ProdSecretKeyGravityCarSystem2024MustBe32Chars!

# Configurações Iniciais da Loja Padrão
LOJA_TENANT_ID=loja-001
LOJA_RAZAO_SOCIAL=Concessionária LTDA
LOJA_NOME_FANTASIA=Gravity Motors
LOJA_CNPJ=00.000.000/0001-00

# CORS
CORS_ORIGINS=http://localhost,http://localhost:80

# Chave ApiBrasil
APIBRASIL_TOKEN=seu_token_aqui
